<h1>What is 1iota Talk</h1>
<p id="index-title">1iota Talk is a way for all of us at 1iota to ... talk to eachother. Now you may be asking yourself:</p>

<h3>Why would I use 1iota Talk?</h3>

<p>I'll tell you.  If you are inviting for a show and you notice that something isn't working or you think something could work differently to make your inviting task more effiecent, you can now click the '1iota Talk' link on the admin site and post the bug or your idea under the relevent topic.</p>

<p>Or... you might be working at a show and see something that isn't working or think of a way that might make that 'something' work better on a future show.  If this does happen to you, you now have a place to post that thought.</.p>

<p>Lastly, you may just want to share a photo of a weird looking fan or a co-worker being awesome. If so, throw it up on 1iota Talk.</p>

<h4>How does it work?</h4>

<ul>
  <li>Find the relevent topic</li>
  <li>Post your stuff, or make a comment on someone else's post</li>
  <li>Vote up someone else's post you agree with</li>
  <li>Click 'Nice!' to favorite a post and receive emails when someone else comments on that post</li> 
</ul>

<h2>What's the point</h2>

<p>The point is that sometimes you may feel like you don't have a voice or that no one cares what you have to say. And that may be true but at least now you will know for sure.</p>

<p>Seriously though, as 1iota grows and grows and grows the folks at the top and the dudes making things happen get busier and busier so, sending them emails or texts or both (with an IM for good measure) can get annoying/overwhelming. This is where 1iota Talk comes in, now we can all voice our thougts as a group and help all those important people sort through the stuff that needs to be sorted and find the stuff that need/could be addressed (in theory of course). The point is that 1iota is becoming a big world and we wanna make sure you all have as big a plot of land as you want. (not really but you get the idea)</p>

<p>So hopefully this works and if not there is always Shiftplanner.</p>



