<h1>What is 1iota Talk</h1>
<p>1iota Talk is a way for all of us at 1iota to ... talk to each other, I mean REALLY talk to each other. You know, the kind of talking that's important to most of us. The kind of talking where you don't care so much if someone is listening just as long as you get to say your piece. You know what I'm talking about right? No? Ok, maybe that's just me.  Anyway, you may be asking...</p>

<h3>... why would I use 1iota Talk?</h3>

<p>Well, I'll tell you.  If you happen to be inviting for a show and you notice that something isn't working quite right or you think something could work differently to make your inviting task more efficient, or you love the way a new feature works, you will now have your own personal soapbox at 1iota Talk to post the bug or your idea or your praise under the relevant topic.</p>

<p>Or... you might be working at a show and see 'something' that isn't working quite right or think of a way to make that 'something' work better on a future show or you may just wanna talk about how awesome a 1iota team member handled a certain situation.  If any of this happens to you, you now have a place to post those thoughts.</.p>

<p>Lastly, you may just want to share a photo of a weird looking fan or a co-worker being awesome. If so you can throw it up on... yep, you guessed it, 1iota Talk.</p>

<h4>How does it work?</h4>

<ul>
  <li>Find the relevant topic</li>
  <li>Post your stuff, or make a comment on someone else's stuff</li>
  <li>Vote up someone else's post you agree with</li>
  <li>Click 'Nice!' to favorite a post and receive emails when someone else comments on that post</li> 
</ul>

<h2>What's the point</h2>

<p>The point is that sometimes you may feel like you don't have a voice or that no one cares what you have to say. And that may be true but at least now you will know for sure.</p>

<p>Seriously though, as 1iota grows and grows and grows the folks at the top and the dudes making things happen get busier and busier, so sending them emails or texts or both (with an IM for good measure) can get overwhelming(annoying). This is where 1iota Talk comes in, now we can all voice our thoughts as a group and help all those important people sort through the stuff that needs to be sorted and find the stuff that could be or maybe needs to be addressed (in theory of course). The point is, that 1iota is becoming a big world and we wanna make sure you all have as big a plot of land as you want. (not really but you get the idea)</p>

<p>So hopefully this works and if not there is always Shiftplanner.</p>




