@import "bootstrap";

.favorite {
  margin-top: 20px;
}

.vote-arrows {
  width: 30px;
  text-align: center;
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.btn {
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   padding: 6px;
}

.jumbotron {
  margin-bottom: 40px !important;
  height: 350px !important;
  color: white !important;
  text-shadow: #3e3e3e 0.1em 0.1em 0.1em !important;
  background: #4e4e4e;
  }


  




